* {
    margin: 0px;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: 'Integral CF';
    src: url('fonts/IntegralCF-Regular.woff2') format('woff2'),
         url('fonts/IntegralCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Integral CF';
    src: url('fonts/IntegralCF-Bold.woff2') format('woff2'),
         url('fonts/IntegralCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
         url('fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
         url('fonts/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

#modal {
    display: none;
}

h1 {
    font-family: 'Integral CF', sans-serif;
    font-size: 32px;
    font-weight: 800;
}

#popup {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popup > p, span {
    color: white;
    font-size: small;
    padding: 10px 0px 10px 0px;
}

#popup > img {
    width: 11px;
}

header {
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    flex-direction: column;
}

#header-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#hamburger {
    display: none;
}

#search {
    background-color: #F0F0F0;
    border-radius: 62px;
    width: 577px;
    height: 25px;
    align-items: center;
    display: flex;
    gap: 10px;
}

#search:hover {
    border: 1px solid black;
}

#search > input {
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
}

#search > img {
    margin-left: 10px;
}

#searchIcon {
    display: none;
}

#user-container {
    display: flex;
    gap: 20px;
}

#user-container > img {
    width: 25px;
}

#menu-desktop > ul {
    display: flex;
    gap: 30px;
}

#menu-desktop > ul > li {
    list-style: none;
    cursor: pointer;
}

.drawer {
    position: absolute;
    background-color: white;
    margin-top: 5px;
    overflow: hidden;
    margin-left: -10px;
    transition: all 0.5s;
    box-shadow: 0px 1px 3px;
}

.drawer > p {
    padding: 2px;
    text-align: center;
    font-size: 17px;
}

#searchBarMobile {
    display: none;
}

main {
    background-color: #F2F0F1;
    height: 663px;
}

@media (max-width: 1300px) {

    #header-container > h1 {
        order: 2;
        margin-right: 80px;
    }

    li {
        width: 90%;
    }

    #menu-desktop {
        display: none;
    }

    #hamburger {
        display: block;
        cursor: pointer;
    }

    header > section > span {
        order: 3;
    }

    #header-container section {
        order: 5;
    }

    #modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1;
        transition: all 0.5s;
        box-shadow: 1px 1px 20px;
    }

    #closeModal {
        margin-top: 10px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        align-self: flex-end;
    }

    #modal > nav {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #modal > nav > ul {
        width: 50%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
    }

    #modal > nav > ul > li {
        font-size: 20px;
        background-color: #F2F0F1;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        min-width: 100px;
        min-height: 50px;
        border-radius: 5px;

    }

    #shop-drawer > p  {
        font-size: 20px;
        text-align: center;
    }

    .mobile {
        min-width: 100px;
        margin-left: 0px;
        position: relative;
        box-shadow: none;
        background-color: #F2F0F1;
    }

    #searchBarMobile {
        margin-top: 5px;
        display: flex;
        overflow: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }

    #searchBarMobile > span {
        background-color: #F0F0F0;
        display: flex;
        width: 80%;
        height: 30%;
        align-items: center;
        border-radius: 50px;
    }

    #searchBarMobile > span > img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }

    #searchBarMobile > span > input {
        background-color: transparent;
        width: 100%;
        border: none;
        outline: none;
    }
}


@media (max-width: 600px) {

    #header-container > h1 {
        font-size: 25px;
        margin-right: 0px;
        position: absolute;
        margin-left: 8%;
        z-index: 0;
    }

    #search {
        display: none;
    }
    
    #searchIcon {
        display: block;
    }

    header > section {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
}